.font-montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-montserrat-normal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-bold {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
}
