.heading {
  font-size: 48px;
  line-height: 48px;
}

.locations-text {
  font-size: 16px;
  line-height: 24px;
}

.address-title {
  font-size: 16px;
  line-height: 24px;
}

.address-text {
  font-size: 16px;
  line-height: 24px;
}
